.form-container {
  width: 500px;
  background-color: white;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  margin-top: 20%;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.form-input {
  margin-top: 10px;
  border: 1px solid black;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 300px;
  }
}
