.project {
  &__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  }

  &__primary {
    padding: 4rem;
    background: linear-gradient(338.83deg,#dde5ed -3.41%,rgba(255,196,255,0)52.31%),#eddddd;
    flex: 0 0 90%;
    margin-top: 5%;
    border-radius: 20px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    padding: 1em 3em 4em;
  }

  &__secondary {
    padding: 4rem;
    background: linear-gradient(338.83deg,#eddddd -3.41%,rgba(255,196,255,0)52.31%),#ddeddd;
    flex: 0 0 90%;
    margin-top: 5%;
    border-radius: 20px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    padding: 1em 3em 4em;
  }

  &__cardImage {
    width: 70%;
    max-width: 100%;
    margin-top: 90px;
  }

  &__title {
    margin-top: 60px;
    color: #276791;
    font-size: 3.8rem;
    font-weight: 400;
  }
}

.projectDescription {
  color: #545454;
  font-size: 31px;
  font-family: adobe-garamond-pro, serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 1.5%;
  border: 2px solid red;
}