.colorContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: paleturquoise;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  border: 2px solid red;

}
.colorHeading {
  color: blue;
}

.wrapper {
  background-color: red;
  height: 100vh;
}
