#darkMode {
  background: transparent url("./day-and-night.png") no-repeat center;
  background-size: 40px 40px;
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  background-size: 40px 40px;
  width: 45px;
  height: 45px;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  border-radius: 50%;
  background-color: #ffff33;
}
