* {
  box-sizing: border-box;
}
body {
  margin: 30px 200px 0 200px;
}
.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  background: white;
  border: black 2px solid;
  padding: 20px;
  margin: 6px;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-fours {
  display: flex;
  justify-content: center;
}
.flex-grid-fours .col {
  width: 100%;
  height: 350px;
}

@media (max-width: 768px) {
  .flex-grid-fours .col {
    width: 100%;
    height: 150px;
  }

  .flex-grid,
  .flex-grid-fours {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

@media (max-width: 414px) {
  .flex-grid-fours .col {
    width: 100%;
    height: 350px;
  }
  body {
    padding: 20px;
    margin: 30px 0 0 0;
  }
  .flex-grid,
  .flex-grid-fours {
    display: block;
    .col {
      width: 25%;
      margin: 0 0 10px 0;
    }
  }
}
