* {
  box-sizing: border-box;
}
body {
  padding: 2% 10% 5% 10%;
}

.col {
  background: white;
  border: black 2px solid;
  padding: 20px;
  margin: 6px;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-fours {
  display: flex;
  justify-content: center;
}
.flex-grid-fours .col {
  width: 350px;
  height: 350px;
}

@media (max-width: 768px) {
  .flex-grid-fours .col {
    width: 50%;
    height: 300px;
  }
}

@media (max-width: 414px) {
  .flex-grid-fours .col {
    width: 100%;
    height: 350px;
  }
  body {
    padding: 20px;
  }
  .flex-grid-fours {
    display: block;
  }
}
