.container {
  padding: 25px 50px;
  position: absolute;
  bottom: 0;
  align-content: center;

  &__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__youtube {
    color: #eb3223;
  }

  &__facebook {
    color: #4968ad;
  }

  &__twitter {
    color: #49a1eb;
  }

  &__instagram {
    color: black;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-5px);
  }
}

// This is for the nav bar styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
